@charset "UTF-8";

body{
  padding-bottom: 40px;
  background-color: #eee;
}

div::before {
    content: "Cadastre seus dados";
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #273747;
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;
}
a {
  font-family: Arial,sans-serif;
  font-size: 20px;
  position: center;
}

div {
    background-color: rgba(255,255,255,.8);
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}
